/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

/**
 * Base Flexbox Setup
 */
#wcdd-delivery-options-powered,
.wcdd-delivery-options #tapsi_tip_select_field .woocommerce-input-wrapper,
.wcdd-delivery-options .wcdd-delivery-type-select .woocommerce-input-wrapper,
.wcdd-delivery-options .woocommerce-input-wrapper label.radio,
.wcdd-delivery-options #tapsi_tip_select_field .woocommerce-input-wrapper label.radio,
.wcdd-delivery-schedule {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}

#wcdd-delivery-options-powered > #wcdd-delivery-options-powered-tapsi-pack-link:first-child {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ff5722;
	font-size: 10px;
}

#wcdd-delivery-options-powered > #wcdd-delivery-options-powered-tapsi-pack-link img {
	margin: 4px;
}

.wcdd-delivery-options #tapsi_tip_select_field .woocommerce-input-wrapper,
.wcdd-delivery-options .wcdd-delivery-type-select .woocommerce-input-wrapper,
.wcdd-delivery-schedule {
	justify-content: space-between;
}

.wcdd-delivery-options .woocommerce-input-wrapper label.radio,
.wcdd-delivery-options #tapsi_tip_select_field .woocommerce-input-wrapper label.radio {
	align-items: center;
}

.wcdd-delivery-schedule > p,
.wcdd-delivery-options .woocommerce-input-wrapper label.radio,
.wcdd-delivery-options #tapsi_tip_select_field .woocommerce-input-wrapper label.radio {
	flex-basis: 48.75%;
}

/**
 * Flexbox Changes
 */
.wcdd-delivery-schedule {
	flex-wrap: nowrap;
}

#wcdd-delivery-options-powered > p {
	flex-basis: 48.75%;
}

/**
 * Base Style Setup
 */
.wcdd-delivery-options {
	color: rgb(105, 107, 113); /*#696b71*/
}

.wcdd-delivery-options .required {
	color: rgb(202, 60, 29); /*#ca3c1d*/
}
ul#shipping_method .wcdd-delivery-options input#tapsi_dropoff_instructions {
	margin: 0 !important;
	box-shadow: none;
	border: 1px solid rgb(170, 170, 170); /*#696b71*/
	border-radius: 5px;
	background: rgb(255, 255, 255); /*#fff*/
	color: rgb(105, 107, 113); /*#696b71*/
}

.wcdd-delivery-options p,
.wcdd-delivery-options p:last-child {
	margin-bottom: 0.75rem; /*12px*/
}

.wcdd-delivery-options select {
	background-color: rgb(255, 255, 255); /*#fff*/
	border-radius: 0.313rem; /*5px*/
	border: 1px solid rgb(170, 170, 170); /*#aaa*/
	color: rgb(109, 109, 109); /*#6d6d6d;*/
	padding: 0.219rem; /*3.5px*/
}

.wcdd-delivery-options select,
.wcdd-delivery-options select + span
.wcdd-delivery-options .woocommerce-input-wrapper,
.wcdd-delivery-options .woocommerce-input-wrapper > select#tapsi_pickup_location,
.wcdd-delivery-options .woocommerce-input-wrapper > select#tapsi_pickup_location + span {
 	width: 100% !important;
 	display: block;
}

.wcdd-delivery-options .woocommerce-input-wrapper > select#tapsi_pickup_location + span > span > span {
	padding: 0.313rem; /*5px*/
	height: auto;
}

.wcdd-delivery-options .woocommerce-input-wrapper > select#tapsi_pickup_location + span > span > span .select2-selection__arrow {
	height: auto;
	padding: 20px 15px;
}

/**
 * Add styles for the Tapsi shipping method & the inner wrapper.
 */
.wcdd-delivery-options {
 	border: 1px solid rgb(170, 170, 170); /*#aaa*/
	background-color: rgb(255, 255, 255); /*#fff*/
 	border-radius: 0.313rem; /*5px*/
 	padding: 0.625rem; /*10px*/
 	margin-top: 0.625rem; /*10px*/
	/*
	min-width: 12.188rem;
	*/
	/*195pxpx*/

}

/**
 * Add styles for the Tapsi shipping method radio buttons & labels.
 */

.wcdd-delivery-options .form-row > label > .optional {
	display: none;
}

.wcdd-delivery-options .woocommerce-input-wrapper input[type="radio"] {
 	position: absolute;
 	width: 1px;
 	height: 1px;
 	overflow: hidden;
 	padding: 0;
 	border: 0;
 	clip: rect(0, 0, 0, 0);
 	clip-path: inset(-50%);
 	margin: -1px;
 	color: transparent;
}

.wcdd-delivery-options .woocommerce-input-wrapper label.radio {
 	align-items: center;
 	text-align: center;
 	padding: 0.313rem; /*5px 0*/
 	border-radius: 0.313rem; /*5px*/
 	border: 1px solid rgb(170, 170, 170); /*#aaa*/
 	cursor: pointer;
 	transition: border 0.3s, background 0.3s;
 	margin: 0;
 	font-size: 1rem; /*16px*/
	line-height: 1.2;
	box-sizing: border-box;
}

/**
 * Adds margin to the top of lables after the 4th child becasue we also have to count the radio inputs before hand.
 */
.wcdd-delivery-options .woocommerce-input-wrapper label.radio:nth-child(n+5) {
	margin: 3.5% 0 0 0;
}

.wcdd-delivery-options .woocommerce-input-wrapper label.radio:hover,
.wcdd-delivery-options .woocommerce-input-wrapper label.radio:active,
.wcdd-delivery-options .woocommerce-input-wrapper input[type="radio"]:checked+label.radio {
	border-color: rgb(170, 170, 170); /*#aaa*/
	background: rgb(238, 238, 238); /*#eee*/
	color: rgb(105 107 113); /*#696b71*/
}

.wcdd-delivery-options .woocommerce-input-wrapper label.radio:focus {
	border-color: rgb(170, 170, 170); /*#aaa*/
	outline: 1px dotted rgb(170, 170, 170); /*#aaa*/
	outline-offset: -4px;
	background: rgb(238, 238, 238); /*#eee*/
}

/**
 * Add styles for the Tapsi shipping method powered by section.
 */
#wcdd-delivery-options-powered > p {
 	flex-basis: 100%;
 	width: 100%;
 	text-align: center;
 	margin: 0 0 0.125rem 0; /*2px*/
 	font-size: 0.875rem; /*14px*/
}

#wcdd-delivery-options-powered > img {
 	max-width: 6.25rem; /*100px*/
}


/**
 * Add styles for the Tapsi shipping method when the container it is in becomes to thin.
 */
.wcdd-delivery-options #tapsi_tip_select_field .woocommerce-input-wrapper,
.wcdd-delivery-options .wcdd-delivery-type-select .woocommerce-input-wrapper,
.wcdd-delivery-options .wcdd-delivery-schedule {
	flex-wrap: wrap;
}

.wcdd-delivery-options .wcdd-delivery-schedule > p,
.wcdd-delivery-options .woocommerce-input-wrapper label.radio,
.wcdd-delivery-options #tapsi_tip_select_field .woocommerce-input-wrapper label.radio {
	flex-basis: 48.75%;
}

.wcdd-delivery-options.mobile-view #tapsi_tip_select_field .woocommerce-input-wrapper label.radio:nth-child(n+3) {
	margin-top: 0;
}

.wcdd-delivery-options.mobile-view .woocommerce-input-wrapper label.radio:nth-child(n+3),
.wcdd-delivery-options.mobile-view #tapsi_tip_select_field .woocommerce-input-wrapper label.radio:nth-child(n+5),
.wcdd-delivery-options.tiny-view #tapsi_tip_select_field .woocommerce-input-wrapper label.radio:nth-child(n+3) {
	margin-top: 3.5%;
}

.wcts-tapsi-pack-checkout-form-label {
	font-weight: bold;
}

.wcts-tapsi-pack-rules-section {
	text-indent: 0 !important;
}

.wcts-tapsi-pack-rules-section ul {
	margin: 10px 0 0 0 !important;
	display: none;
}

.wcts-tapsi-pack-rules-section button {
	margin: 0 !important;
	width: 100% !important;
}


.wcts-tapsi-pack-rules-section li {
	text-indent: 0 !important;
}

#wctd-tapsi-pack-maplibre-map-public-warning {
	text-indent: 0 !important;
}

.wctd-tapsi-pack-destination-shard {
	text-indent: 0 !important;
}

/**
	Tapsi Delivery Map Styles Start
*/

#wctd-tapsi-pack-maplibre-map-public-root-id {
	visibility: hidden;
	position: fixed !important;
	width: 100vw !important;
	top: 0 !important;
	left: 0 !important;
	bottom: 0 !important;
	right: 0 !important;
	z-index: 99999 !important;
	background-color: rgb(0,0,0,0.5) !important;
}

#wctd-tapsi-pack-maplibre-map-public-container-id {
	position: absolute !important;
	top: 0 !important;
	bottom: 0 !important;
	right: 0 !important;
	left: 0 !important;
	/* removing margin */
	width: calc(100% - 80px) !important;
	height: calc(100% - 80px) !important;
	overflow: visible !important;
	margin: 40px !important;
	border: 2px solid black !important;
}

#wctd-tapsi-pack-maplibre-map-public-center-marker-id {
	position: absolute !important;
	top: 50% !important;
	left: 50% !important;
	transform: translate(-50%, calc(-100% + 3px)) !important;
}

#wctd-tapsi-pack-mapliblre-map-public-submit-location-button {
	position: absolute !important;
	bottom: 60px !important;
	margin: 0 auto !important;
	left: 50% !important;
	transform: translate(-50%, 0%) !important;
	background: #000 !important;
	color: #fff !important;
	min-height: 40px !important;
	min-width: calc(100% - 100px) !important; /* padding + parent margin */
	border: none !important;
	border-radius: 50px !important;
	font-weight: 600 !important;
	padding: 10px 20px !important;
}

#wctd-tapsi-pack-mapliblre-map-public-close-modal-button {
	position: absolute !important;
	top: 50px !important;
	left: 50px !important;
	border-radius: 15px !important;
	height: 30px !important;
	width: 30px !important;
	background-color: #000 !important;
	border: none !important;
	color: #fff !important;
	font-weight: 600 !important;
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
}
#wctd-tapsi-pack-maplibre-map-public-preview-img-container {
	position: relative !important;
	margin: 10px !important;
	padding: 0 !important;
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
}
#wctd-tapsi-pack-maplibre-map-public-preview-img-container #wctd-tapsi-pack-maplibre-map-public-preview-img-dot {
	position: absolute !important;
	top: 50% !important;
	left: 50% !important;
	transform: translate(-50%, calc(-100% + 10px)) !important;
	margin: 0 !important;
	padding: 0 !important;
}
#wctd-tapsi-pack-maplibre-map-public-preview-img-container #wctd-tapsi-pack-maplibre-map-public-preview-img {
	margin: 0 !important;
	padding: 0 !important;
	cursor: pointer;
}
#wctd-tapsi-pack-maplibre-map-public-warning {
	color: #000 !important;
	margin: 10px !important;
	display: block !important;
	width: calc(100% - 20px) !important;
	background-color: #fdf4cc !important;
	border-radius: 8px !important;
	padding: 10px !important;
	box-sizing: border-box !important;
	font-weight: 600 !important;
}
#wctd-tapsi-pack-maplibre-map-public-warning img {
	margin: 0 5px !important;
}
#wctd-tapsi-pack-show-map-button-checkout-page {
	margin: 5px 10px !important;
	width: calc(100% - 20px) !important;
}

/**
	Tapsi Delivery Map Styles End
*/


/** wctd-tapsi-checkout Start **/
/* always vertical checkout page - optionally activated by the admin user */
.woocommerce-page .woocommerce .woocommerce-checkout.wctd-tapsi-checkout .col2-set {
	float: none !important;
	width: 100%;
}
.woocommerce-page .woocommerce .woocommerce-checkout.wctd-tapsi-checkout #order_review {
	width: 100%;
	float: none !important;
}
.woocommerce-page .woocommerce .woocommerce-checkout.wctd-tapsi-checkout  #order_review_heading {
	float: none !important;
}
.woocommerce-page .woocommerce .woocommerce-checkout.wctd-tapsi-checkout #customer_details {
	float: none !important;
	width: 100%;
}
/** wctd-tapsi-checkout End **/
